/* Global style settings  */
body {
    background-color: rgb(250, 242, 247); 
}

#aboutMeSection{
    margin-bottom: 50px; 
}

#myProjectSection {
    margin-bottom: 10px; 
}


/* Buttons  */
#goNowBtn {
    background-color: hotpink; 
    border: white; 
    color: white; 
}

/* footer  */
#footer {
    margin-top: 20px; 
}